snippet	cve
	\cventry{${1: years }}{${2: degree/job title }}{${3: institution/employer }}{${4: localization }}{${5: grade }}{${6: description }}

snippet nl
	\newline{}
	
snippet itemize
	\begin{itemize}
		\item ${0}
	\end{itemize}

snippet cvi
	\cvitem{${1: title }}{${2: data }}
